
#NavTitle{
    letter-spacing: 1.5px;
}


/*FORMATAÇÃO DA CAIXA DE METAS
----------------------------------------*/
    #MetaEnviteContainer /*Caixa */
    {   
        background-color: #1E1E1E;
        border-radius: 40px 40px 0px 0px;
        padding: 20px 0px;
    }
    #MetaTitleBox /*Título da caixa de metas*/
    {
        margin-bottom: 30px;
    }
    #MetaTitleBox p /*Texto explicativo da caixa de metas*/
    {
        width: 80%;
        margin: 10px auto;
    }
 